# =========================
# Database
# =========================
db_data/
db_dump/

# =========================
# Apache generated config
# =========================
# web/000-default.conf

# =========================
# Certificates / secrets
# =========================
certs/
*.pem
*.key
*.crt
.env
.env.*

# =========================
# Logs / cache / runtime
# =========================
logs/
log/
tmp/
cache/

# =========================
# Dependencies
# =========================
node_modules/
vendor/

# =========================
# OS
# =========================
.DS_Store
app/static/.DS_Store
