services:
  web:
    container_name: ubbc-web
    build:
      dockerfile: Dockerfile
    expose:
      - "80"
    volumes:
      - ./app:/var/www/html
      - ./app/vendor:/var/www/html/vendor
      - ./web/000-default.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - db
    networks:
      - ubbcnet


  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: ubbc-mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_DATABASE}
      MYSQL_PASSWORD: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_DATABASE}
      UBBC_INGEST_TOKEN: ${UBBC_INGEST_TOKEN}
      command: --default-authentication-plugin=mysql_native_password

    volumes:
      - ./db_data:/var/lib/mysql
      - ./db_dump:/docker-entrypoint-initdb.d
    ports:
      - "23306:3306"
    networks:
      - ubbcnet

networks:
  ubbcnet:
    name: ubbcnet
    external: true

