

@import url("custom-base.css");


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--fl-prune);
  color: var(--fl-white)!important;
}

.list-group.fl-color .list-group-item {
  background-color: inherit!important;
}

.fl-map{
  width:400px; height:300px;
}

.badge-electric {
    color: #fff;
    background-color: var(--fl-electric);
}

.badge-peach {
    color: #fff;
    background-color: var(--fl-peach);
}
.badge-prune {
    color: #fff;
    background-color: var(--fl-prune);
}
.badge-apricot {
    color: var(--fl-prune);
    background-color: var(--fl-apricot);
}
.badge-sadsea {
    color: var(--fl-prune);
    background-color: var(--fl-apricot);
}

section {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:600px;
}

.carousel-img-fullh{
  height: calc( 100vh - 80px );
}

.carousel-img{
  width: 900px;
  height:450px;
}

img {
  object-fit: cover;
}

/*table.entry{
  width: 1100px;
}*/


.thead-light.fl-bg-apricot th{
  background-color: var(--fl-apricot);
  border-color: var(--fl-light);
  color: var(--fl-prune)!important;
}

table tbody td {
  text-overflow: ellipsis;
}

.thead-light.fl-bg-apricot a{
  color: var(--fl-prune)!important;
}

.thead-light.fl-bg-apricot th:hover{
  background-color: var(--fl-prune);
}

.thead-light.fl-bg-apricot th:hover a{
  color: var(--fl-white)!important;
  text-decoration: none;
}

.table-hover tr:hover{
  background-color: var(--fl-sadsea)!important;
  color: var(--fl-white)!important;
}


@media (max-width: 918px) {
  /*.carousel-img{
    height: calc( 100vh / 2 );
  }

table.entry{
    width:918px;
  }

  div .scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }*/
  .carousel-img{
    width: 100vw;
    height: calc( 100vw / 1.3 );
  }

  section {
    min-height:450px;
  }

  .display-1{
    font-size:5.5rem!important;
  }
  .display-2{
    font-size:4.5rem!important;
  }
  .display-3{
    font-size:4rem!important;
  }
  .display-4{
    font-size:3rem!important;
  }
  .display-5{
    font-size:2rem!important;
  }

@media only screen and (max-device-width: 480px) {

  /*div .scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }*/
  .carousel-img{
    width: 100vw;
    height: calc( 100vw / 1.3 );
  }


  section {
    min-height:350px;
  }

  .display-1{
    font-size:5rem!important;
  }
  .display-2{
    font-size:4rem!important;
  }
  .display-3{
    font-size:3.5rem!important;
  }
  .display-4{
    font-size:2.5rem!important;
  }
  .display-5{
    font-size:1.5rem!important;
  }
    /*.carousel-img{
    height: calc( 100vh / 2 );
  }


    table.entry{
    width:918px;
  }
}*/
